# Archivos de entorno
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
# Python Virtual Environment
venv/

# Remove the old entry if it exists
# venv_py311/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db